*,
*:before,
*:after {
	box-sizing: border-box;
	-moz-border-box: box-sizing;
	-webkit-border-box: box-sizing;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

 @import '_grid';

body {
	background: #fff;
	font-weight: lighter;
	line-height: 1.5;
	margin: 0 auto;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

header {
	background: url(../commons2.JPG);
	background-size: cover;
	background-position: bottom left;
	padding: 50px 20px;
	color: #f7f7f7;
	text-shadow: 2px 2px 0 #000;
	text-align: center;
	letter-spacing: 1px;
	font-family: 'Oswald', sans-serif;
	box-shadow: 0 0 10px #000;
}

.intro {
	margin-bottom: 20px;
	font-family: 'Roboto Slab', serif;

	.disclaimer {
		border: 3px solid #c0392b;
		padding: 10px;
		color: #c0392b;
		border-radius: 10px;
		width: 100px;
		margin: 0 auto;
		text-align: center;
		cursor: pointer;
	}
}

a {
	color: #000;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

// text

h1, h2, h3, h4, h5, h6 {
	font-weight: lighter;
}

// forms

form {
	select {
		font-weight: lighter;
		border-radius: none;
		background: #fff;
		option {
			font-weight: lighter;
		}
	}
	input {
		font-weight: lighter;
	}
}

.howMany {
	margin-bottom: 10px;
}

.scope:nth-child(2) {
	margin-left: 10px;
}

.phaseTwo {
	margin: 15px 0;
}

// stuffs

.list {
	font-size: 14px;
	@include column(3);
	list-style-type: none;
	padding: 0;
	li {
		margin-bottom: 10px;
		li {
			margin-left: 10px;
		}
		.province, .year, .party {
			display: block;
			font-size: 12px;
		}
		.name {
			font-weight: bold;
		}
	}
}

.results {
	@include column(9);
}

// party styles

.candidate {
	width: 15px;
	height: 15px;
	border: 1px solid #ccc;
	display: inline-block;
	margin: 5px;
	border-radius: 50%;
}

.elected {
	border: 3px solid #999;
}

// party variables!

$conservative: #002596;
$liberal: #BC0808;
$ndp: #F58220;
$green: #3D9D46;
$ind: #bdc3c7;
$antiConfed: #f1c40f;
$labour: #f39c12;

.cpc, .pc, .government, .natGov {
	background: $conservative;
}
.lib, .opposition, .natLib {
	background: $liberal;
}

.ndp, .ccf {
	background: $ndp;
}

.green {
	background: $green;
}

.ind, .unknown, .nat, .other {
	background: $ind;
}

.reform {
	background: #16a085;
}

.bq {
	background: #3498db;
}

.soCred {
	background: #27ae60;
}

// responsivate!

@media (max-width: 768px) {
	.list {
		@include column(12);
	}

	.results {
		@include column(12);
	}

}