*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -moz-border-box: box-sizing;
  -webkit-border-box: box-sizing; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

body {
  background: #fff;
  font-weight: lighter;
  line-height: 1.5; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

.intro {
  margin-bottom: 20px; }

a {
  color: #000;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter; }

form select {
  font-weight: lighter;
  border-radius: none;
  background: #fff; }
  form select option {
    font-weight: lighter; }
form input {
  font-weight: lighter; }

.howMany {
  margin-bottom: 10px; }

.scope:nth-child(2) {
  margin-left: 10px; }

.phaseTwo {
  margin: 15px 0; }

.list {
  font-size: 14px;
  width: 30%;
  float: left;
  list-style-type: none;
  padding: 0; }
  .list li {
    margin-bottom: 10px; }
    .list li li {
      margin-left: 10px; }
    .list li .province, .list li .year, .list li .party {
      display: block;
      font-size: 12px; }
    .list li .name {
      font-weight: bold; }

.results {
  width: 70%;
  float: left; }

.candidate {
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 5px;
  border-radius: 50%; }

.elected {
  border: 3px solid #999; }

.cpc, .pc, .government, .natGov {
  background: #002596; }

.lib, .opposition, .natLib {
  background: #bc0808; }

.ndp, .ccf {
  background: #f58220; }

.green {
  background: #3d9d46; }

.ind, .unknown, .nat, .other {
  background: #bdc3c7; }

.reform {
  background: #16a085; }

.bq {
  background: #3498db; }

.soCred {
  background: #27ae60; }
